doctype html
html
    body
        p
            | Hi #{name},
            |
            block notification
                | #{notification}
                |
            if (typeof(time) !== "undefined")
                | Time
                | #{time}
                |
            | - #{fromName}
