doctype html
html
    body
        p
            | Hi #{name},
            |
            | #{notification}
            |
            | Time
            | #{time}
            |
            | - #{fromName}
