doctype html
html
    body
        p
            | Hi #{name},
            br
            br
            block notification
                | #{notification}
            br
            br
            | - #{fromName}
