@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-full;
}

/* Major cards as displayed down the page */
.card-major {
  @apply card card-compact bg-base-100 shadow-lg;
}

.btn-standard-action-trigger-dialog {
  @apply btn-accent btn-sm btn;
}

/* A button in a table column that just navigates somewhere */
.btn-table-action-navigate {
  @apply btn-link btn-xs btn;
}

/* A button in a table column that does something destructive */
.btn-table-action-danger {
  @apply btn-ghost btn-xs btn text-error;
}

/* legacy */

.btn-base {
  @apply min-w-[15em] rounded-xl p-3 font-bold disabled:opacity-25;
}

.btn-normal {
  @apply btn-base bg-blue-500 text-white;
}

.btn-normal:hover {
  @apply bg-blue-700;
}

.btn-danger {
  @apply btn-base bg-red-500 text-white;
}

.btn-danger:hover {
  @apply bg-red-700;
}

.btn-warning {
  @apply btn-base bg-orange-500 text-white;
}

.btn-warning:hover {
  @apply bg-orange-700;
}

.inline-list {
  display: inline;
  list-style: none;
}

.inline-list > li {
  display: inline;
}

.comma-list > li::after {
  content: ", ";
}

.comma-list > li:last-child::after {
  content: "";
}

input[type="search"],
input[type="text"],
textarea {
  @apply my-2 p-3;
}

/*
 * Without this, tailwind would add `z-index: 11` to any element matching this
 * selector.
 * Same goes to position, where it was set to sticky.
 */
.table th:first-child {
  z-index: 0 !important;
  position: static;
}
